@model IEnumerable<SistemaVotoElectronico.Modelos.PadronElectoral>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotanteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EleccionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEnlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGeneracionCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCanjeado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotoPlanchaRealizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotoNominalRealizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotanteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EleccionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEnlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaGeneracionCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCanjeado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotoPlanchaRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotoNominalRealizado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
