@model SistemaVotoElectronico.Modelos.ListaElectoral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListaElectoral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroLista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Siglas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Siglas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logotipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logotipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EleccionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EleccionId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
